<h1>Hello <%= @user.first_name %>.</h1>
<p>You can check out your progress right here</p>
<p>You have completed <%= @user.pomodoros.count %> pomodoros.</p>
<a class="button" href="/add">Add a pomodoro</a>
